.date{
    display: inline-block;
    color: #F0F54B;
    background-color: #242329;
    text-align: center;
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: -.36em;
}
.name{
    display: inline-block;
    color: #242329;
    background-color: #F0F54B;
    width: 423px;
    height: 150px;
    vertical-align: top;
    position: relative;
    margin-left: -.36em;
    margin-top: -.36em;
    
}
h1{
    font-size: 76px;
    vertical-align: middle;
    position: relative;
    margin: 10px 0px;
}
h2{
    font-size: 30px;
    line-height: 0px;
    position: relative;
}
p{
    font-size: 28px;
    position: relative;
    margin: 40px 20px;
}
.img{
    height: 570px;
}
div{
    font-weight: bold;
}
.text{
    text-align: top;
}
.main{
    display: inline-block;
    margin-right: 30px;
}
body{
    background-color: #18171b;
}
.name_1{
    position: relative;
    font-size: 60px;
    color: white;
    text-align: left;
    margin: 0px 330px;
}
article{
    display: block;
    text-align: center;
}